<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="/styles.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav style="background-color: #263238;"><!-- navbar content here  --></nav>
    <ul
      id="slide-out"
      class="sidenav sidenav-fixed"
      style="background-color: #263238;"
    >
      <li>
        <div class="user-view">
          <div class="background">
            <img src="images/logo.png" />
          </div>
          <br /><br />
        </div>
      </li>
      <li>
        <a href="/dashboard" class="waves-effect white-text"
          ><i class="material-icons icon-white" style="color: white;">layers</i
          >Dashboard</a
        >
      </li>
      <li>
        <a href="/cabs" class="waves-effect white-text"
          ><i class="material-icons icon-white" style="color: white;"
            >airport_shuttle</i
          >Cabs</a
        >
      </li>
      <li>
        <a class="waves-effect white-text" href="/analytics"
          ><i class="material-icons icon-white" style="color: white;"
            >insert_chart</i
          >Analytics</a
        >
      </li>
      <li>
        <a class="waves-effect white-text" href="/users"
          ><i class="material-icons icon-white" style="color: white;">group</i
          >Users</a
        >
      </li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <main>
      <div class="container">
          <div class="col s3">
              <h3>Users</h3>
          </div>
        <div class="card no-shadows" style="border-top: solid orange 5px;">
          <div class="row">
            <div class="col s12">
              <div class="input-field">
                <input type="text" id="searchRTO" onkeyup="searchRTO()">
                <label for="searchRTO" class="label">RTO Number</label>
            </div>
          </div>       
          </div>
        </div>
        <table class="highlight" style="border-top: solid #263238 5px;">
          <thead >
            <tr>
              <th>Cab ID</th>
              <th>RTO No.</th>
              <th>Status</th>
              <th>Driver</th>
            </tr>
          </thead>
          
          <tbody>
              <% for(var i=0; i < cabs.length; i++) { %>
                <tr>
                  <td><%= cabs[i].cabID %></td>
                  <td><%= cabs[i].registrationNumber %></td>
                  <td><%= cabs[i].status %></td>
                  <td><%= cabs[i].driverID %></td>
                </tr>
                <% } %>
          </tbody>
        </table>
    </main>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
