<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="scripts.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li>
        <div class="user-view">
          <div class="background ">
            <img class="responsive-img" src="images/material_bg_1.png" />
          </div>
          <a href="#user"><img class="circle"/></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"
            ><span class="white-text email">jdandturk@gmail.com</span></a
          >
        </div>
      </li>
      <li class="active">
        <a href="#!"><i class="material-icons">cloud</i>Dashboard</a>
      </li>
      <li>
        <a href="#!"><i class="material-icons">group</i>Users</a>
      </li>
      <li><div class="divider"></div></li>
      <li>
        <a class="waves-effect"><i class="material-icons">local_taxi</i>Cabs</a>
      </li>
      <li>
        <a class="waves-effect" href="#!"
          ><i class="material-icons">equalizer</i>Analytics</a
        >
      </li>
    </ul>
    <nav class=" blue darken-2"><!-- navbar content here  --></nav>
    <div class="row">
      <div class="col l3">This div is 12-columns wide on all screen sizes</div>
      <div class="col l3">6-columns (one-half)</div>
      <div class="col l3">6-columns (one-half)</div>
      <div class="col l3">6-columns (one-half)</div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
